.home {
  background-image: url('../../assets/images/Background.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    margin: 0;
  }

  &__start {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}