.login {
  background-image: url('../../assets/images/Background.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__button {
    margin-top: 100px;
  }
}